*:focus {
    outline: none;
}

::placeholder {
    color: #F3F3F3;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

* {
    margin: 0;
    font-family: 'Work Sans';
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    margin: 24px 0;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-transform: capitalize;
}

h4 {
    margin-top: 24px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-transform: capitalize;
}

h5 {
    text-transform: uppercase;
    color: #005FAC;
    margin-bottom: 20px;
}

/* Common CSS */

.primary-button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
}

.primary-button:hover {
    border: 1px solid #ffffff;
    background: #ffffff00;
    color: #ffffff;
    padding: 19px 29px;
    border-radius: 0;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Banner Section */

.banner-content {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-20%, -50%);
    color: white;
}

.banner {
    background-image: url(../imges/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-title {
    font-size: 65px;
    color: #ffffff;
    line-height: 76px;
    font-weight: 700;
}

.banner-desc {
    margin: 24px 0;
    font-size: 20px;
}


/* About Section */


.about {
    margin-top: 130px;
}

.about-content {
    display: flex;
    gap: 87px;
    align-items: center;

}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content ul li {
    font-size: 20px;
    line-height: 2em;
}

.about-content ul li i {
    color: #16D887;
}

/* My plans */

.my-plans-area {
    margin-top: 130px;
}

.my-plans-area h2 {
    margin-bottom: 50px;
    text-align: center;
}

.my-plans {
    display: flex;
    justify-content: center;
    gap: 86px;
}

.plans {
    text-align: center;
}

.plans p {
    margin-top: 16px;
    margin-bottom: 0;
}

/* Pricing plans */

.pricing-plans-area {
    margin-top: 150px;
    text-align: center;
}

.pricing-plans-area h3 {
    text-align: center;
    color: #005FAC;
}

.pricing-plans {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.pricing {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 24px 48px -13px rgb(0 0 0 / 15%);
    padding: 60px 40px
}

.pricing-down {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 24px 48px -13px rgb(0 0 0 / 15%);
    padding: 60px 40px;
    margin-top: 50px;
}

.pricing-button {
    background-color: #ffffff00;
    border: 1px solid #005FAC;
    color: #005FAC;
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 15px 50px;
    font-weight: 600;
    cursor: pointer;
}

.pricing-button:hover {
    background: #005fac;
    color: #ffffff;
    border-radius: 0;
}

.pricing-plans ul {
    list-style: none;
    padding: 40px 0px;
}

.pricing-plans ul li {
    font-size: 17px;
    line-height: 2.5em;
}

.pricing-plans ul li i {
    color: #005FAC;
}


/* Call to action */

.cta-details h3 {
    color: #ffffff;
    margin-bottom: 24px;
}

.cta {
    background-image: url(../imges/gradient1.png), url(../imges/watch.png);
    margin-top: 130px;
    padding: 59px 617px 59px 64px;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Footer */

.footer-section {
    margin-top: 130px;
    padding: 130px 350px;
    background-color: black;
}

.footer-container {
    display: flex;
    color: #ffffff;
    gap: 88px;
}

.footer-title {
    font-size: 45px;
    font-weight: 700;
}

.social-media a img {
    padding-right: 17px;
}

.subscribe-area h4 {
    color: #ffffff;
    margin-bottom: 31px;
}

.subscribe-area input[type="email"] {
    background-color: #ffffff00;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 22px 158px 22px 18px;
    font-size: 18px;
    color: #ffffff;
}

.subscribe-button {
    background-color: #005FAC;
    border-radius: 8px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    margin-top: 16px;
}